:root {
  --c-white: #ffffff;
  --c-black: #000606;
  --c-yellow: #9f9f19;
  --c-purple: #dc4fd5;

  --color-background: var(--c-black);

  --color-separator: #2f2f2f;
  --color-text: var(--c-white);

  --gradient: linear-gradient(90deg, #4a61d4 0, #ae67aa, #b1b115);

  --p-l: 1rem 3rem;
  --p-m: 0.5rem 1.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.5;
  font-family: 'Oxanium', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: scroll;
}

textarea {
  resize: vertical;
}

:focus {
  outline: none;
}

a,
button {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

#app {
  height: 100vh;
}

.text-gradient {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  width: min-content;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
  margin: 1rem 0 1.5rem;
}

h3 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}
.wrapper {
  overflow-x: clip;
}
.component {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  padding: 0 5rem;
  overflow-x: clip;

  &::before {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: var(--c-yellow);
    left: calc(-50vw - 1rem);
    top: 0;
    z-index: 1001;
  }

  &::after {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: var(--c-purple);
    left: -100%;
    top: 0;
    z-index: 1000;
  }
}

/* Medium Devices (Tablets) - 991px and below */
@media (max-width: 991px) {
  h1 {
    font-size: 2rem;
    line-height: 2rem;
    margin: 0.5rem 0 1rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }
}

@media (max-width: 767px) {
  #app {
    .wrapper {
      padding: 90px 1rem 30px;
      height: 100%;
    }
  }
}
